/*!
 */

@import "normalize.less";
@import "preboot.less";
@import "pygments.less";




body{
    font-size: @font-size-base;
}

a{
    color: @link-color;
}


.wrapper{
    .make-row();
}

#sidebar{
    margin-top: 3em;
    .make-column(2);
    .make-column-offset(1);
    a {
        text-decoration: none;
        color: @black-80;
    }
    ul, li {
        display: block;
        padding-left: 10px;
        list-style-position:outside;
    }

    li {
        padding-top: 2px;
        padding-bottom: 2px;
    }

    ul ul {
        margin-left: 0px;
        padding-left: 6px;
        border-left: solid 1px #900;
    }
/*
    li:after {
        content: ", ";
    }
*/
}

#content{
    .make-column(8);
}
